-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: AGRI-TrackCoffee
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `AGRI-TrackCoffee`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `AGRI-TrackCoffee` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `AGRI-TrackCoffee`;

--
-- Table structure for table `coffee`
--

DROP TABLE IF EXISTS `coffee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `coffee` (
  `Coffee_ID` int NOT NULL AUTO_INCREMENT,
  `Coffee_name` varchar(100) NOT NULL,
  PRIMARY KEY (`Coffee_ID`),
  UNIQUE KEY `uq_coff_name` (`Coffee_name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `coffee`
--

LOCK TABLES `coffee` WRITE;
/*!40000 ALTER TABLE `coffee` DISABLE KEYS */;
INSERT INTO `coffee` VALUES (2,'Arabica'),(1,'Robusta');
/*!40000 ALTER TABLE `coffee` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `distribution`
--

DROP TABLE IF EXISTS `distribution`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `distribution` (
  `DistributionID` int NOT NULL AUTO_INCREMENT,
  `ProductID` int NOT NULL,
  `FarmID` int NOT NULL,
  `Date` date NOT NULL,
  `Quantity` int NOT NULL,
  `AssistantID` int NOT NULL,
  PRIMARY KEY (`DistributionID`),
  KEY `fk_dist_prod` (`ProductID`),
  KEY `fk_dist_farm` (`FarmID`),
  KEY `fk_dist_asst` (`AssistantID`),
  CONSTRAINT `fk_dist_asst` FOREIGN KEY (`AssistantID`) REFERENCES `extension_assistants` (`Assistant_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_dist_farm` FOREIGN KEY (`FarmID`) REFERENCES `farm` (`FarmID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_dist_prod` FOREIGN KEY (`ProductID`) REFERENCES `product` (`ProductID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_dist_qty` CHECK ((`Quantity` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `distribution`
--

LOCK TABLES `distribution` WRITE;
/*!40000 ALTER TABLE `distribution` DISABLE KEYS */;
INSERT INTO `distribution` VALUES (1,1,1,'2025-02-10',200,1),(2,2,3,'2025-02-12',50,2),(3,3,1,'2025-03-01',20,1);
/*!40000 ALTER TABLE `distribution` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `district`
--

DROP TABLE IF EXISTS `district`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `district` (
  `DistrictID` int NOT NULL AUTO_INCREMENT,
  `District_name` varchar(100) NOT NULL,
  PRIMARY KEY (`DistrictID`),
  UNIQUE KEY `uq_dist_name` (`District_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `district`
--

LOCK TABLES `district` WRITE;
/*!40000 ALTER TABLE `district` DISABLE KEYS */;
INSERT INTO `district` VALUES (1,'Kampala'),(3,'Masaka'),(2,'Wakiso');
/*!40000 ALTER TABLE `district` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `district_agricultural_officer`
--

DROP TABLE IF EXISTS `district_agricultural_officer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `district_agricultural_officer` (
  `Supervisor_ID` int NOT NULL,
  `DistrictID` int NOT NULL,
  PRIMARY KEY (`Supervisor_ID`),
  UNIQUE KEY `uq_dao_dist` (`DistrictID`),
  CONSTRAINT `fk_dao_dist` FOREIGN KEY (`DistrictID`) REFERENCES `district` (`DistrictID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_dao_usr` FOREIGN KEY (`Supervisor_ID`) REFERENCES `user` (`UserID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `district_agricultural_officer`
--

LOCK TABLES `district_agricultural_officer` WRITE;
/*!40000 ALTER TABLE `district_agricultural_officer` DISABLE KEYS */;
INSERT INTO `district_agricultural_officer` VALUES (3,2);
/*!40000 ALTER TABLE `district_agricultural_officer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `extension_assistants`
--

DROP TABLE IF EXISTS `extension_assistants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `extension_assistants` (
  `Assistant_ID` int NOT NULL AUTO_INCREMENT,
  `Extension_Worker_ID` int NOT NULL,
  `Farm_ID` int DEFAULT NULL,
  `Farm_group_ID` int DEFAULT NULL,
  PRIMARY KEY (`Assistant_ID`),
  KEY `fk_ea_worker` (`Extension_Worker_ID`),
  KEY `fk_ea_farm` (`Farm_ID`),
  KEY `fk_ea_grp` (`Farm_group_ID`),
  CONSTRAINT `fk_ea_farm` FOREIGN KEY (`Farm_ID`) REFERENCES `farm` (`FarmID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ea_grp` FOREIGN KEY (`Farm_group_ID`) REFERENCES `farm_group` (`Farm_Group_ID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ea_worker` FOREIGN KEY (`Extension_Worker_ID`) REFERENCES `extension_worker` (`Worker_ID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `extension_assistants`
--

LOCK TABLES `extension_assistants` WRITE;
/*!40000 ALTER TABLE `extension_assistants` DISABLE KEYS */;
INSERT INTO `extension_assistants` VALUES (1,5,1,1),(2,5,3,NULL);
/*!40000 ALTER TABLE `extension_assistants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `extension_worker`
--

DROP TABLE IF EXISTS `extension_worker`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `extension_worker` (
  `Worker_ID` int NOT NULL,
  `Supervisor_ID` int NOT NULL,
  PRIMARY KEY (`Worker_ID`),
  KEY `fk_ew_super` (`Supervisor_ID`),
  CONSTRAINT `fk_ew_super` FOREIGN KEY (`Supervisor_ID`) REFERENCES `district_agricultural_officer` (`Supervisor_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_ew_usr` FOREIGN KEY (`Worker_ID`) REFERENCES `user` (`UserID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `extension_worker`
--

LOCK TABLES `extension_worker` WRITE;
/*!40000 ALTER TABLE `extension_worker` DISABLE KEYS */;
INSERT INTO `extension_worker` VALUES (5,3);
/*!40000 ALTER TABLE `extension_worker` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farm`
--

DROP TABLE IF EXISTS `farm`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farm` (
  `FarmID` int NOT NULL AUTO_INCREMENT,
  `DistrictID` int NOT NULL,
  `FarmerID` int NOT NULL,
  `Coffee_ID` int NOT NULL,
  `Farm_size` decimal(10,2) NOT NULL,
  `Farm_Group_ID` int DEFAULT NULL,
  `Village_ID` int NOT NULL,
  PRIMARY KEY (`FarmID`),
  KEY `fk_farm_dist` (`DistrictID`),
  KEY `fk_farm_owner` (`FarmerID`),
  KEY `fk_farm_coff` (`Coffee_ID`),
  KEY `fk_farm_grp` (`Farm_Group_ID`),
  KEY `fk_farm_vill` (`Village_ID`),
  CONSTRAINT `fk_farm_coff` FOREIGN KEY (`Coffee_ID`) REFERENCES `coffee` (`Coffee_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_dist` FOREIGN KEY (`DistrictID`) REFERENCES `district` (`DistrictID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_grp` FOREIGN KEY (`Farm_Group_ID`) REFERENCES `farm_group` (`Farm_Group_ID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_owner` FOREIGN KEY (`FarmerID`) REFERENCES `farmer` (`FarmerID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_farm_vill` FOREIGN KEY (`Village_ID`) REFERENCES `village` (`Village_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_farm_size` CHECK ((`Farm_size` > 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm`
--

LOCK TABLES `farm` WRITE;
/*!40000 ALTER TABLE `farm` DISABLE KEYS */;
INSERT INTO `farm` VALUES (1,2,1,1,2.50,1,3),(2,3,4,2,1.75,2,4),(3,1,2,1,0.80,NULL,2);
/*!40000 ALTER TABLE `farm` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farm_group`
--

DROP TABLE IF EXISTS `farm_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farm_group` (
  `Farm_Group_ID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Address` varchar(200) DEFAULT NULL,
  `RegionID` int DEFAULT NULL,
  `Group_lead_ID` int NOT NULL,
  PRIMARY KEY (`Farm_Group_ID`),
  KEY `fk_fg_lead` (`Group_lead_ID`),
  CONSTRAINT `fk_fg_lead` FOREIGN KEY (`Group_lead_ID`) REFERENCES `farmer` (`FarmerID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farm_group`
--

LOCK TABLES `farm_group` WRITE;
/*!40000 ALTER TABLE `farm_group` DISABLE KEYS */;
INSERT INTO `farm_group` VALUES (1,'Wakiso Coffee Co-op','Nansana, Wakiso',2,1),(2,'Masaka Growers','Kitovu, Masaka',3,4);
/*!40000 ALTER TABLE `farm_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farmer`
--

DROP TABLE IF EXISTS `farmer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farmer` (
  `FarmerID` int NOT NULL,
  PRIMARY KEY (`FarmerID`),
  CONSTRAINT `fk_farm_usr` FOREIGN KEY (`FarmerID`) REFERENCES `user` (`UserID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farmer`
--

LOCK TABLES `farmer` WRITE;
/*!40000 ALTER TABLE `farmer` DISABLE KEYS */;
INSERT INTO `farmer` VALUES (1),(2),(4);
/*!40000 ALTER TABLE `farmer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `local_mobiliser`
--

DROP TABLE IF EXISTS `local_mobiliser`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `local_mobiliser` (
  `Mobiliser_ID` int NOT NULL AUTO_INCREMENT,
  `Mobiliser_Name` varchar(100) NOT NULL,
  `Village_ID` int NOT NULL,
  `UserID` int DEFAULT NULL,
  PRIMARY KEY (`Mobiliser_ID`),
  KEY `fk_mob_vill` (`Village_ID`),
  KEY `fk_mob_usr` (`UserID`),
  CONSTRAINT `fk_mob_usr` FOREIGN KEY (`UserID`) REFERENCES `user` (`UserID`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_mob_vill` FOREIGN KEY (`Village_ID`) REFERENCES `village` (`Village_ID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `local_mobiliser`
--

LOCK TABLES `local_mobiliser` WRITE;
/*!40000 ALTER TABLE `local_mobiliser` DISABLE KEYS */;
/*!40000 ALTER TABLE `local_mobiliser` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product`
--

DROP TABLE IF EXISTS `product`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product` (
  `ProductID` int NOT NULL AUTO_INCREMENT,
  `Product_name` varchar(100) NOT NULL,
  `Description` text,
  `Product_type_ID` int NOT NULL,
  `Quantity` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`ProductID`),
  KEY `fk_prod_type` (`Product_type_ID`),
  CONSTRAINT `fk_prod_type` FOREIGN KEY (`Product_type_ID`) REFERENCES `product_type` (`Product_type_ID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_prod_qty` CHECK ((`Quantity` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product`
--

LOCK TABLES `product` WRITE;
/*!40000 ALTER TABLE `product` DISABLE KEYS */;
INSERT INTO `product` VALUES (1,'Robusta Seed Pack','High-yield robusta seeds',1,500),(2,'NPK Fertiliser','20-10-10 balanced fertiliser',2,300),(3,'Pesticide X','Broad-spectrum insecticide',3,150),(4,'Hand Sprayer','5-litre manual sprayer',4,80);
/*!40000 ALTER TABLE `product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `product_type`
--

DROP TABLE IF EXISTS `product_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `product_type` (
  `Product_type_ID` int NOT NULL AUTO_INCREMENT,
  `Product_type_name` varchar(50) NOT NULL,
  PRIMARY KEY (`Product_type_ID`),
  UNIQUE KEY `uq_prod_tname` (`Product_type_name`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `product_type`
--

LOCK TABLES `product_type` WRITE;
/*!40000 ALTER TABLE `product_type` DISABLE KEYS */;
INSERT INTO `product_type` VALUES (4,'Equipment'),(2,'Fertiliser'),(3,'Pesticide'),(1,'Seed');
/*!40000 ALTER TABLE `product_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `production`
--

DROP TABLE IF EXISTS `production`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `production` (
  `ProductionID` int NOT NULL AUTO_INCREMENT,
  `FarmID` int NOT NULL,
  `Date` date NOT NULL,
  `Quantity_planted` int NOT NULL,
  `Quantity_produced` decimal(10,2) NOT NULL DEFAULT '0.00',
  `Product_ID` int NOT NULL,
  PRIMARY KEY (`ProductionID`),
  KEY `fk_prod_farm` (`FarmID`),
  KEY `fk_prod_product` (`Product_ID`),
  CONSTRAINT `fk_prod_farm` FOREIGN KEY (`FarmID`) REFERENCES `farm` (`FarmID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `fk_prod_product` FOREIGN KEY (`Product_ID`) REFERENCES `product` (`ProductID`) ON DELETE RESTRICT ON UPDATE CASCADE,
  CONSTRAINT `chk_qty_planted` CHECK ((`Quantity_planted` > 0)),
  CONSTRAINT `chk_qty_produced` CHECK ((`Quantity_produced` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `production`
--

LOCK TABLES `production` WRITE;
/*!40000 ALTER TABLE `production` DISABLE KEYS */;
INSERT INTO `production` VALUES (1,1,'2025-03-15',200,180.00,1),(2,1,'2025-04-02',50,45.50,1),(3,3,'2025-03-20',100,90.00,1);
/*!40000 ALTER TABLE `production` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_production_seed_check` BEFORE INSERT ON `production` FOR EACH ROW BEGIN

    DECLARE v_product_type_id INT;

 

    -- Get the Product_type_ID of the product being referenced

    SELECT Product_type_ID

    INTO   v_product_type_id

    FROM   Product

    WHERE  ProductID = NEW.Product_ID;

 

    -- Block the insert if the product type is not 1 (Seed)

    IF v_product_type_id != 1 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT =

            'ERROR: Product_ID must reference a Seed product (Product_type_ID = 1). Production entry blocked.';

    END IF;

 

END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `subcounty`
--

DROP TABLE IF EXISTS `subcounty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `subcounty` (
  `SubcountyID` int NOT NULL AUTO_INCREMENT,
  `Subcounty_name` varchar(100) NOT NULL,
  `DistrictID` int NOT NULL,
  PRIMARY KEY (`SubcountyID`),
  KEY `fk_sub_dist` (`DistrictID`),
  CONSTRAINT `fk_sub_dist` FOREIGN KEY (`DistrictID`) REFERENCES `district` (`DistrictID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `subcounty`
--

LOCK TABLES `subcounty` WRITE;
/*!40000 ALTER TABLE `subcounty` DISABLE KEYS */;
INSERT INTO `subcounty` VALUES (1,'Rubaga',1),(2,'Makindye',1),(3,'Nansana',2),(4,'Masaka CBD',3);
/*!40000 ALTER TABLE `subcounty` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `technical_support`
--

DROP TABLE IF EXISTS `technical_support`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `technical_support` (
  `Supporter_ID` int NOT NULL,
  PRIMARY KEY (`Supporter_ID`),
  CONSTRAINT `fk_ts_usr` FOREIGN KEY (`Supporter_ID`) REFERENCES `user` (`UserID`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `technical_support`
--

LOCK TABLES `technical_support` WRITE;
/*!40000 ALTER TABLE `technical_support` DISABLE KEYS */;
INSERT INTO `technical_support` VALUES (6);
/*!40000 ALTER TABLE `technical_support` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `UserID` int NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) NOT NULL,
  `Contact` varchar(20) DEFAULT NULL,
  `Address` varchar(200) DEFAULT NULL,
  `RegionID` int DEFAULT NULL,
  PRIMARY KEY (`UserID`),
  CONSTRAINT `chk_contact` CHECK (regexp_like(`Contact`,_utf8mb4'^[0-9+\\- ]{7,20}$'))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
INSERT INTO `user` VALUES (1,'Okello James','+256701234567','Nakulabye, Kampala',1),(2,'Nakato Sarah','+256772345678','Kibuye, Kampala',1),(3,'Mugisha Peter','+256753456789','Nansana, Wakiso',2),(4,'Akello Grace','+256784567890','Kitovu, Masaka',3),(5,'Ssebulime David','+256700111222','Rubaga, Kampala',1),(6,'Tumwine Robert','+256712233445','Makindye, Kampala',1);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `village`
--

DROP TABLE IF EXISTS `village`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `village` (
  `Village_ID` int NOT NULL AUTO_INCREMENT,
  `Village_name` varchar(100) NOT NULL,
  `SubcountyID` int NOT NULL,
  PRIMARY KEY (`Village_ID`),
  KEY `fk_vill_sub` (`SubcountyID`),
  CONSTRAINT `fk_vill_sub` FOREIGN KEY (`SubcountyID`) REFERENCES `subcounty` (`SubcountyID`) ON DELETE RESTRICT ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `village`
--

LOCK TABLES `village` WRITE;
/*!40000 ALTER TABLE `village` DISABLE KEYS */;
INSERT INTO `village` VALUES (1,'Nakulabye',1),(2,'Kibuye',2),(3,'Nansana A',3),(4,'Kitovu',4);
/*!40000 ALTER TABLE `village` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'AGRI-TrackCoffee'
--
/*!50003 DROP FUNCTION IF EXISTS `fn_count_farmer_farms` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_count_farmer_farms`(p_FarmerID INT) RETURNS int
    READS SQL DATA
    DETERMINISTIC
BEGIN

    DECLARE v_count INT;

    SELECT COUNT(*) INTO v_count

    FROM   Farm

    WHERE  FarmerID = p_FarmerID;

    RETURN v_count;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_farm_monthly_production` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_farm_monthly_production`(

    p_FarmID INT,

    p_Year   INT,

    p_Month  INT

) RETURNS decimal(12,2)
    READS SQL DATA
    DETERMINISTIC
BEGIN

    DECLARE v_total DECIMAL(12,2);



    SELECT COALESCE(SUM(Quantity_produced), 0)

    INTO   v_total

    FROM   Production

    WHERE  FarmID     = p_FarmID

      AND  YEAR(Date) = p_Year

      AND  MONTH(Date)= p_Month;



    RETURN v_total;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP FUNCTION IF EXISTS `fn_total_distributed` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` FUNCTION `fn_total_distributed`(p_ProductID INT) RETURNS int
    READS SQL DATA
    DETERMINISTIC
BEGIN

    DECLARE v_total INT;

    SELECT COALESCE(SUM(Quantity), 0) INTO v_total

    FROM   Distribution

    WHERE  ProductID = p_ProductID;

    RETURN v_total;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_add_farm` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_add_farm`(

    IN p_DistrictID    INT,

    IN p_FarmerID      INT,

    IN p_Coffee_ID     INT,

    IN p_Farm_size     DECIMAL(10,2),

    IN p_Farm_Group_ID INT,           -- pass NULL for no group

    IN p_Village_ID    INT

)
BEGIN

    IF p_Farm_size <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Farm size must be greater than zero.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Farmer WHERE FarmerID = p_FarmerID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: FarmerID does not exist.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Coffee WHERE Coffee_ID = p_Coffee_ID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Coffee_ID does not exist.';

    END IF;



    INSERT INTO Farm (DistrictID, FarmerID, Coffee_ID, Farm_size, Farm_Group_ID, Village_ID)

    VALUES (p_DistrictID, p_FarmerID, p_Coffee_ID, p_Farm_size, p_Farm_Group_ID, p_Village_ID);



    SELECT CONCAT('Farm added successfully. FarmID = ', LAST_INSERT_ID()) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_assign_farm_to_group` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_assign_farm_to_group`(

    IN p_FarmID        INT,

    IN p_Farm_Group_ID INT   -- pass NULL to remove from group

)
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Farm WHERE FarmID = p_FarmID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: FarmID not found.';

    END IF;



    IF p_Farm_Group_ID IS NOT NULL AND

       NOT EXISTS (SELECT 1 FROM Farm_Group WHERE Farm_Group_ID = p_Farm_Group_ID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Farm_Group_ID not found.';

    END IF;



    UPDATE Farm SET Farm_Group_ID = p_Farm_Group_ID WHERE FarmID = p_FarmID;



    IF p_Farm_Group_ID IS NULL THEN

        SELECT CONCAT('Farm ', p_FarmID, ' removed from its group.') AS Message;

    ELSE

        SELECT CONCAT('Farm ', p_FarmID, ' assigned to group ', p_Farm_Group_ID) AS Message;

    END IF;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_create_farm_group` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_create_farm_group`(

    IN p_Name         VARCHAR(100),

    IN p_Address      VARCHAR(200),

    IN p_RegionID     INT,

    IN p_Group_lead_ID INT

)
BEGIN

    IF TRIM(p_Name) = '' OR p_Name IS NULL THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Farm group name cannot be empty.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Farmer WHERE FarmerID = p_Group_lead_ID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Group lead must be a registered Farmer.';

    END IF;



    INSERT INTO Farm_Group (Name, Address, RegionID, Group_lead_ID)

    VALUES (p_Name, p_Address, p_RegionID, p_Group_lead_ID);



    SELECT CONCAT('Farm Group created. Farm_Group_ID = ', LAST_INSERT_ID()) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_distribute_product` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_distribute_product`(

    IN p_ProductID   INT,

    IN p_FarmID      INT,

    IN p_Date        DATE,

    IN p_Quantity    INT,

    IN p_AssistantID INT

)
BEGIN

    IF p_Quantity <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Distribution quantity must be greater than zero.';

    END IF;



    IF p_Date > CURDATE() THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Distribution date cannot be in the future.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Farm WHERE FarmID = p_FarmID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: FarmID not found.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Product WHERE ProductID = p_ProductID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: ProductID not found.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Extension_Assistants WHERE Assistant_ID = p_AssistantID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: AssistantID not found.';

    END IF;



    -- Stock check and deduction handled by trigger trg_distribution_reduce_stock

    INSERT INTO Distribution (ProductID, FarmID, Date, Quantity, AssistantID)

    VALUES (p_ProductID, p_FarmID, p_Date, p_Quantity, p_AssistantID);



    SELECT CONCAT('Distribution recorded. DistributionID = ', LAST_INSERT_ID()) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_district_production_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_district_production_summary`(

    IN p_DistrictID INT,

    IN p_Year       INT

)
BEGIN

    IF NOT EXISTS (SELECT 1 FROM District WHERE DistrictID = p_DistrictID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: DistrictID not found.';

    END IF;



    SELECT

        d.District_name,

        u.Name                         AS Farmer_Name,

        c.Coffee_name,

        MONTH(pr.Date)                 AS Month,

        SUM(pr.Quantity_produced)      AS Total_Produced,

        COUNT(pr.ProductionID)         AS Harvest_Count

    FROM  Production  pr

    JOIN  Farm         f  ON pr.FarmID      = f.FarmID

    JOIN  District     d  ON f.DistrictID   = d.DistrictID

    JOIN  Farmer      fr  ON f.FarmerID     = fr.FarmerID

    JOIN  User         u  ON fr.FarmerID    = u.UserID

    JOIN  Coffee       c  ON f.Coffee_ID    = c.Coffee_ID

    WHERE  f.DistrictID   = p_DistrictID

      AND  YEAR(pr.Date)  = p_Year

    GROUP BY u.Name, c.Coffee_name, MONTH(pr.Date)

    ORDER BY MONTH(pr.Date), u.Name;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_farm_distribution_history` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_farm_distribution_history`(

    IN p_FarmID INT

)
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Farm WHERE FarmID = p_FarmID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: FarmID not found.';

    END IF;



    SELECT

        di.DistributionID,

        di.Date,

        p.Product_name,

        pt.Product_type_name   AS Product_Type,

        di.Quantity,

        u.Name                 AS Distributed_By

    FROM  Distribution         di

    JOIN  Product               p  ON di.ProductID   = p.ProductID

    JOIN  Product_Type         pt  ON p.Product_type_ID = pt.Product_type_ID

    JOIN  Extension_Assistants ea  ON di.AssistantID = ea.Assistant_ID

    JOIN  Extension_Worker     ew  ON ea.Extension_Worker_ID = ew.Worker_ID

    JOIN  User                  u  ON ew.Worker_ID   = u.UserID

    WHERE di.FarmID = p_FarmID

    ORDER BY di.Date DESC;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_farm_monthly_report` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_farm_monthly_report`(

    IN p_FarmID INT,

    IN p_Year   INT,

    IN p_Month  INT

)
BEGIN

    IF p_Month < 1 OR p_Month > 12 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Month must be between 1 and 12.';

    END IF;



    SELECT

        pr.ProductionID,

        pr.Date,

        pr.Quantity_planted,

        pr.Quantity_produced,

        p.Product_name,

        pt.Product_type_name

    FROM  Production  pr

    JOIN  Product      p  ON pr.Product_ID       = p.ProductID

    JOIN  Product_Type pt ON p.Product_type_ID   = pt.Product_type_ID

    WHERE pr.FarmID     = p_FarmID

      AND YEAR(pr.Date) = p_Year

      AND MONTH(pr.Date)= p_Month

    ORDER BY pr.Date;



    -- Summary row using the stored function

    SELECT fn_farm_monthly_production(p_FarmID, p_Year, p_Month)

        AS Total_Produced_This_Month;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_get_farmer_farms` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_get_farmer_farms`(

    IN p_FarmerID INT

)
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Farmer WHERE FarmerID = p_FarmerID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: FarmerID not found.';

    END IF;



    SELECT

        f.FarmID,

        u.Name                       AS Farmer_Name,

        c.Coffee_name                AS Coffee_Type,

        f.Farm_size                  AS Size_Hectares,

        d.District_name,

        v.Village_name,

        COALESCE(fg.Name, 'No Group') AS Farm_Group

    FROM  Farm         f

    JOIN  Farmer       fr ON f.FarmerID      = fr.FarmerID

    JOIN  User          u ON fr.FarmerID     = u.UserID

    JOIN  Coffee        c ON f.Coffee_ID     = c.Coffee_ID

    JOIN  District      d ON f.DistrictID    = d.DistrictID

    JOIN  Village       v ON f.Village_ID    = v.Village_ID

    LEFT JOIN Farm_Group fg ON f.Farm_Group_ID = fg.Farm_Group_ID

    WHERE fr.FarmerID = p_FarmerID;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_group_farms_summary` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_group_farms_summary`(

    IN p_Farm_Group_ID INT

)
BEGIN

    IF NOT EXISTS (SELECT 1 FROM Farm_Group WHERE Farm_Group_ID = p_Farm_Group_ID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Farm_Group_ID not found.';

    END IF;



    SELECT

        fg.Name                     AS Group_Name,

        f.FarmID,

        u.Name                      AS Farmer_Name,

        c.Coffee_name,

        f.Farm_size                 AS Hectares,

        COALESCE(SUM(pr.Quantity_produced), 0) AS Total_Produced_Ever

    FROM  Farm_Group   fg

    JOIN  Farm          f  ON f.Farm_Group_ID = fg.Farm_Group_ID

    JOIN  Farmer       fr  ON f.FarmerID      = fr.FarmerID

    JOIN  User          u  ON fr.FarmerID     = u.UserID

    JOIN  Coffee        c  ON f.Coffee_ID     = c.Coffee_ID

    LEFT JOIN Production pr ON pr.FarmID      = f.FarmID

    WHERE fg.Farm_Group_ID = p_Farm_Group_ID

    GROUP BY f.FarmID, u.Name, c.Coffee_name, f.Farm_size

    ORDER BY u.Name;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_product_stock_report` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_product_stock_report`()
BEGIN

    SELECT

        p.ProductID,

        p.Product_name,

        pt.Product_type_name        AS Type,

        p.Quantity                  AS Current_Stock,

        fn_total_distributed(p.ProductID) AS Total_Distributed,

        p.Quantity + fn_total_distributed(p.ProductID) AS Original_Stock

    FROM  Product      p

    JOIN  Product_Type pt ON p.Product_type_ID = pt.Product_type_ID

    ORDER BY pt.Product_type_name, p.Product_name;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_record_production` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_record_production`(

    IN p_FarmID           INT,

    IN p_Date             DATE,

    IN p_Quantity_planted INT,

    IN p_Quantity_produced DECIMAL(10,2),

    IN p_Product_ID       INT

)
BEGIN

    IF p_Date > CURDATE() THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Production date cannot be in the future.';

    END IF;



    IF p_Quantity_planted <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Quantity planted must be greater than zero.';

    END IF;



    IF p_Quantity_produced < 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Quantity produced cannot be negative.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Farm WHERE FarmID = p_FarmID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: FarmID not found.';

    END IF;



    -- The trg_production_seed_only trigger will additionally block

    -- non-seed products at the table level.

    INSERT INTO Production (FarmID, Date, Quantity_planted, Quantity_produced, Product_ID)

    VALUES (p_FarmID, p_Date, p_Quantity_planted, p_Quantity_produced, p_Product_ID);



    SELECT CONCAT('Production record added. ProductionID = ', LAST_INSERT_ID()) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_register_dao` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_register_dao`(

    IN p_Name       VARCHAR(100),

    IN p_Contact    VARCHAR(20),

    IN p_Address    VARCHAR(200),

    IN p_RegionID   INT,

    IN p_DistrictID INT

)
BEGIN

    DECLARE v_UserID INT;



    -- One officer per district (the UNIQUE constraint handles it too,

    -- but a clear message is better for the user)

    IF EXISTS (

        SELECT 1 FROM District_Agricultural_Officer

        WHERE  DistrictID = p_DistrictID

    ) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: This district already has an Agricultural Officer assigned.';

    END IF;



    CALL sp_register_user(p_Name, p_Contact, p_Address, p_RegionID, v_UserID);



    INSERT INTO District_Agricultural_Officer (Supervisor_ID, DistrictID)

    VALUES (v_UserID, p_DistrictID);



    SELECT CONCAT('DAO registered. Supervisor_ID = ', v_UserID) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_register_extension_worker` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_register_extension_worker`(

    IN p_Name          VARCHAR(100),

    IN p_Contact       VARCHAR(20),

    IN p_Address       VARCHAR(200),

    IN p_RegionID      INT,

    IN p_Supervisor_ID INT

)
BEGIN

    DECLARE v_UserID INT;



    -- Check the supervisor actually exists as a DAO

    IF NOT EXISTS (

        SELECT 1 FROM District_Agricultural_Officer

        WHERE  Supervisor_ID = p_Supervisor_ID

    ) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Supervisor_ID does not match any District Agricultural Officer.';

    END IF;



    CALL sp_register_user(p_Name, p_Contact, p_Address, p_RegionID, v_UserID);



    INSERT INTO Extension_Worker (Worker_ID, Supervisor_ID)

    VALUES (v_UserID, p_Supervisor_ID);



    SELECT CONCAT('Extension Worker registered. Worker_ID = ', v_UserID) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_register_farmer` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_register_farmer`(

    IN p_Name     VARCHAR(100),

    IN p_Contact  VARCHAR(20),

    IN p_Address  VARCHAR(200),

    IN p_RegionID INT

)
BEGIN

    DECLARE v_UserID INT;



    -- Re-use the base user registration logic

    CALL sp_register_user(p_Name, p_Contact, p_Address, p_RegionID, v_UserID);



    INSERT INTO Farmer (FarmerID) VALUES (v_UserID);



    SELECT CONCAT('Farmer registered. FarmerID = ', v_UserID) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_register_user` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_register_user`(

    IN  p_Name     VARCHAR(100),

    IN  p_Contact  VARCHAR(20),

    IN  p_Address  VARCHAR(200),

    IN  p_RegionID INT,

    OUT p_UserID   INT

)
BEGIN

    -- Validate name is not blank

    IF TRIM(p_Name) = '' OR p_Name IS NULL THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: User name cannot be empty.';

    END IF;



    INSERT INTO User (Name, Contact, Address, RegionID)

    VALUES (p_Name, p_Contact, p_Address, p_RegionID);



    SET p_UserID = LAST_INSERT_ID();

    SELECT CONCAT('User registered successfully. UserID = ', p_UserID) AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_restock_product` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_restock_product`(

    IN p_ProductID INT,

    IN p_Quantity  INT

)
BEGIN

    IF p_Quantity <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Restock quantity must be positive.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Product WHERE ProductID = p_ProductID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: ProductID not found.';

    END IF;



    UPDATE Product SET Quantity = Quantity + p_Quantity WHERE ProductID = p_ProductID;



    SELECT CONCAT('Product ', p_ProductID, ' restocked. Added ', p_Quantity, ' units.') AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_update_farm_size` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_update_farm_size`(

    IN p_FarmID    INT,

    IN p_New_size  DECIMAL(10,2)

)
BEGIN

    IF p_New_size <= 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: New farm size must be greater than zero.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Farm WHERE FarmID = p_FarmID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: FarmID not found.';

    END IF;



    UPDATE Farm SET Farm_size = p_New_size WHERE FarmID = p_FarmID;



    SELECT CONCAT('Farm ', p_FarmID, ' size updated to ', p_New_size, ' hectares.') AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 DROP PROCEDURE IF EXISTS `sp_update_production_yield` */;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_unicode_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'IGNORE_SPACE,ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
CREATE DEFINER=`root`@`localhost` PROCEDURE `sp_update_production_yield`(

    IN p_ProductionID      INT,

    IN p_Quantity_produced DECIMAL(10,2)

)
BEGIN

    IF p_Quantity_produced < 0 THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: Quantity produced cannot be negative.';

    END IF;



    IF NOT EXISTS (SELECT 1 FROM Production WHERE ProductionID = p_ProductionID) THEN

        SIGNAL SQLSTATE '45000'

        SET MESSAGE_TEXT = 'ERROR: ProductionID not found.';

    END IF;



    UPDATE Production

    SET    Quantity_produced = p_Quantity_produced

    WHERE  ProductionID = p_ProductionID;



    SELECT 'Production yield updated successfully.' AS Message;

END ;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-13 11:09:47
